{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.css'  %}">
    <style>
        .pagination a{
            display: inline-block;
            padding:2px 5px;
            margin: 0 5px;
            border:1px solid cadetblue;
        }
        .pagination a.active{
            background-color: #2b669a;
            color: white;
        }
    </style>
</head>
<body>
<h>主页列表</h>
<ul>
{% for host in host_list %}
    <li>{{ host }} <a href="/edit/54/?{{ list_condition }}">编辑</a> </li>
{% endfor %}
</ul>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>{{ page_html|safe }}</li>

  </ul>
</nav>


{#<div class="pager">#}
{#{{ page_html|safe }}#}
{#</div>#}

</body>
</html>